.wrapper {
    width: 420px;
    border: 2px solid black;
    background-color: #ccc;
    border-radius: 5px;


}
.button-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(80px, auto);
  padding: 20px;
/*  padding-left: 10px;
  /*padding-right: 10px;*/
}
.standard-button, .standard-button > button {
  font-family: courier;
  color: white;
  background-color: gray;
  font-size: 25px;
  border-radius: 5px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px 5px 5px;
}

.standard-button > button {
  border: none;
}

.display-wrapper {
  font-family: courier;
  font-size: 45px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid black;
  padding-right: 30px;

}
.display {
  padding: 10px 0 10px 0;
  margin: 10px;
}
.C, .C > button  {
  color: white;
  background-color: blue;
  grid-column: 1 / 4;
  grid-row: 1 / 1;
  border: 2px solid black;
  font-size: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px 5px 5px;
}

.C > button {
  border: none;
}

.divide {
  grid-column: 4 / 4;
  grid-row: 1 / 1;
}
.seven {
  grid-column: 1 / 1;
  grid-row: 2;
}
.eight {

  grid-column: 2 / 2;
  grid-row: 2;
}
.nine {

  grid-column: 3;
  grid-row: 2;
}
.multiply {

  grid-column: 4;
  grid-row: 2;
}
.four {

  grid-column: 1 / 1;
  grid-row: 3;
}
.five {

  grid-column: 2 / 2;
  grid-row: 3;
}
.six {

  grid-column: 3 / 3;
  grid-row: 3;
}
.minus {

  grid-column: 4 / 4;
  grid-row: 3;
}
.one {

  grid-column: 1 / 1;
  grid-row: 4;
}
.two {

  grid-column: 2 / 2;
  grid-row: 4;
}
.three {

  grid-column: 3 / 3;
  grid-row: 4;
}
.plus {

  grid-column: 4 / 4;
  grid-row: 4;
}
.zero, .zero > button {
  color: white;
  text-align: center;
  font-size: 25px;
  background-color: gray;
  grid-column: 1 / 4;
  grid-row: 5;
  border: 2px solid black;
  font-size: 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px 5px 5px;

}

.zero > button {
  border: none;
}
.equals, .equals > button {
  text-align: center;
  font-size: 25px;
  background-color: #35CF66;
  grid-column: 4 / 4;
  grid-row: 5;
  border: 2px solid black;
}

.equals > button {
  border: none;
}
